html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div.clear {
  clear: both;
  line-height: 0;
  height: 0;
  font-size: 0;
  border: 0;
  margin: 0;
  padding: 0; }

img {
  display: block; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/* 16 column */
.col {
  float: left;
  display: block;
  position: relative; }

.col.clear-both {
  clear: both;
  margin-left: 0; }

.row {
  clear: both; }

.margin {
  margin-left: 20px; }

.col-1 {
  width: 40px; }

.col-2 {
  width: 100px; }

.col-3 {
  width: 160px; }

.col-4 {
  width: 220px; }

.col-5 {
  width: 280px; }

.col-6 {
  width: 340px; }

.col-7 {
  width: 400px; }

.col-8 {
  width: 460px; }

.col-9 {
  width: 520px; }

.col-10 {
  width: 580px; }

.col-11 {
  width: 640px; }

.col-12 {
  width: 700px; }

.col-13 {
  width: 760px; }

.col-14 {
  width: 820px; }

.col-15 {
  width: 880px; }

.col-16 {
  width: 940px; }

.pre-1 {
  padding-left: 60px; }

.pre-2 {
  padding-left: 120px; }

.pre-3 {
  padding-left: 180px; }

.pre-4 {
  padding-left: 240px; }

.pre-5 {
  padding-left: 300px; }

.pre-6 {
  padding-left: 360px; }

.pre-7 {
  padding-left: 420px; }

.pre-8 {
  padding-left: 480px; }

.pre-9 {
  padding-left: 540px; }

.pre-10 {
  padding-left: 600px; }

.pre-11 {
  padding-left: 660px; }

.pre-12 {
  padding-left: 720px; }

.pre-13 {
  padding-left: 780px; }

.pre-14 {
  padding-left: 840px; }

.pre-15 {
  padding-left: 900px; }

.pre-16 {
  padding-left: 960px; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  zoom: 1;
  background: #fff;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

a {
  color: #000;
  border: 0;
  text-decoration: none; }

a:hover {
  color: #000;
  border: 0;
  text-decoration: none; }

::selection {
  background: #fff;
  color: #000;
  text-shadow: none; }

.group:after {
  content: "";
  display: table;
  clear: both; }

.logo {
  position: absolute;
  transform-origin: top left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  white-space: nowrap; }

.stuff {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }

.name {
  font-weight: bold;
  font-size: 80px;
  line-height: 72px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 610px;
  color: white;
  z-index: 100;
  letter-spacing: -0.01em;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.name a, .name a:hover {
  color: #fff;
  text-decoration: none;
  font-size: 120px;
  background: url(../img/mail.png) center center no-repeat;
  background-size: 82px 58px;
  width: 82px;
  height: 58px;
  display: block;
  margin: 20px auto; }

@media screen and (max-width: 700px) {
  body {
    background: #000; }

  .name {
    font-weight: bold;
    font-size: 10vw;
    line-height: 10.8vw;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    color: white;
    z-index: 100;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff; }

  a, a:hover {
    background-size: 12vw 8.5vw;
    width: 12vw;
    height: 8.5vw;
    margin-top: 15px; } }
@media screen and (min-width: 1300px) {
  .name {
    font-weight: bold;
    font-size: 100px;
    line-height: 90px;
    width: 800px; }

  a, a:hover {
    background-size: 104px 74px;
    width: 104px;
    height: 74px; } }

.icp {
  position: fixed;
  bottom: 10px;
  font-size: 16px;
  z-index: 100;
  background-color: #eee;
  padding: 5px 10px;
  left: 50%;
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}